[submodule "boop/lib/googletest"]
	path = boop/lib/googletest
	url = https://github.com/google/googletest/
[submodule "f302_template/STM32CubeF3"]
	path = f302_template/STM32CubeF3
	url = https://github.com/STMicroelectronics/STM32CubeF3.git
